@model GetReady.Client.Mvc.Models.GetReadyViewModel
@{
    ViewBag.Title = "Get Ready!";
}

<div class="container">

@using (Html.BeginForm("ProcessGetReadyCommand", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            @Html.TextBoxFor(model => model.InputCommandString, new {@class = "form-control input-lg"})
            @Html.ValidationMessageFor(model => model.InputCommandString)
        </div>
    </div>

    <div>&nbsp;</div>

    <!-- Offset the div by 3 grid columns and make the div itself 9 columns wide.
    You are better off wrapping the input types within a div when specifying placement.
        -->
    <div class="col-sm-offset-3 col-sm-9">
        <input type="submit" class="btn btn-primary" value="Get Ready" />
    </div>
}

</div>

<div class="container">

    @if (Model != null && !string.IsNullOrEmpty(Model.OutputResult))
    {
        <div class="col-sm-offset-3 col-sm-9">
            <h1>@Model.OutputResult</h1></div>
    }

</div>
